* {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #253746;
}

nav .collapse ul li a {
    border-bottom: 2px solid #253746;
}

nav .collapse ul li a:hover {
    border-bottom: 2px solid white;
}

.btn_prop {
    border: 2px solid yellow;
    color: white;
    background-color: transparent;
}

.btn_prop:hover {
    background-color: yellow;
    color: black;
}
.numberdiv
{
	width:100%;
}

.numberimage
{
	width:50%;
	height:auto;
	margin-left:25%;
	margin-top:5px;
	margin-bottom:5px
}