<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        #donation {
            background-image: url(image/child.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: left;
        }

    </style>
</head>

<body ng-app="indexApp">
    <nav class="nav navbar navbar-expand-lg col-lg-12 navbar-light">
        <a class="navbar-brand text-white" href="./index.html">
            <img src="image/healthok_logo.png" width="130" alt="">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

        <div class="collapse col  navbar-collapse " id="navbarSupportedContent">
            <ul class="nav navbar-nav col justify-content-start">
                <li class="nav-item active col-lg-2">
                    <a class="nav-link text-white text-uppercase text-center" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="./mission.html">MISSION</a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="./projects.html">PROJECTS</a>
                </li>
                <li class="nav-item col-lg-2 d-block">
                    <a class="nav-link text-upppercase text-white text-center" href="about.html">ABOUT US</a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="ask.html">ASK DOC</a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="services.html">SERVICES</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container mt-5 mb-5  p-3 text-uppercase" style="border:3px solid #253746;">
        <h3><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;Help us and Make health better</h3>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 pt-5 pb-5" style="background-color: #253746">
                <h2 class="col-lg-8 col-md-12 col-col-sm-12 col-xs-12 text-white mb-4 text-uppercase">Become a <span style="font-weight: bold; color: yellow;">Donor</span></h2>
                <p class="text-white col-lg-8 col-md-12 col-col-sm-12 col-xs-12">
                    Your little contribution cam make us support many families and let us take a very crucial step of improving the quality of life they are living, please take a step by donating .<br> Please donate !!!<br> Donation are accepted via credit card or debit card.

                </p>
                <!--<a href=""><button type="button" class="btn btn_prop" style="border: 2px solid yellow">READ MORE</button></a>-->
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <p class="mt-5 text-center pt-5" style="font-size: 1.8rem">Would you like us to recommend a donation for you?<br><span style="font-size: 1.3rem"> Please select an amount you wish to donate.</span>
        </p>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4 " style="color: #253746">
                <h1 class="display-3 text-center"> &#8377 8000 INR
                </h1>
                <div class="col-12" style="border-bottom: 1px solid #253746"></div>
                <p class="text-center">can save one child</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4 " style="color: #253746">
                <h1 class="display-3 text-center">&#8377 16000 INR
                </h1>
                <div class="col-12" style="border-bottom: 1px solid #253746"></div>
                <p class="text-center">can save 2 children</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4 " style="color: #253746">
                <h1 class="display-3 text-center">&#8377 92000 INR
                </h1>
                <div class="col-12" style="border-bottom: 1px solid #253746"></div>
                <p class="text-center">can save 2 children</p>
            </div>
        </div>
    </div>
    <div id="donation" style="height: 100%">
        <div class=" mt-5 mb-5 p-3 pb-5 col-lg-6 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 text-white" style="background-color: #253746">
            <p class="" style="font-size:1.7rem">BECOME PART OF THE SOLUTION</p>
            <p>Make a contribution today and transform the life of a child or adult whose life has been impaired by avoidable Health problems.</p>


            <form action="" class="form col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <h3 class="pt-5">Donation Information</h3>
                <h5>Amount :</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="background-color: white;font-size: 1.2rem">
                            &#8377
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
                <h3 class="pt-3">Billing Information</h3>
                <h5 class="">Title :</h5>
                <div class="input-group mt-2 mb-3">
                    <select name="" id="" class="form-control" style="background-color: transparent;color: white;border: 2px solid white">
                <option value="" style="background-color: #253746">Dr.</option>
                <option value="" style="background-color: #253746">Mr.</option>
                <option value="" style="background-color: #253746">Mr. and Mrs.</option>
                <option value="" style="background-color: #253746">Mrs.</option>
                <option value="" style="background-color: #253746">Ms.</option>
                <option value="" style="background-color: #253746">Prof.</option>
            </select>
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="First Name" required="" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Middle Name" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Last Name" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <h5 class="">Country :</h5>
                <div class="input-group mt-2 mb-3">
                    <select name="" id="" class="form-control" style="background-color: transparent;color: white;border: 2px solid white">
                <option value="" style="background-color: #253746" selected>India</option>
                <option value="" style="background-color: #253746">Tiwan</option>
                <option value="" style="background-color: #253746">California</option>
                <option value="" style="background-color: #253746">Japan</option>
                <option value="" style="background-color: #253746">Korea</option>
                <option value="" style="background-color: #253746">US</option>
            </select>
                </div>
                <div class="input-group mt-2 mb-3">
                    <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Address Line" style="background-color: transparent;border: 2px solid white;color: white"></textarea>
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="City" required="" style="background-color: transparent;border: 2px solid white;color: white;">
                    <input type="text" class="form-control ml-1" placeholder="State" required="" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Phone" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Email" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <h3 class="pt-5">Payment Information</h3>
                <h5>Payment Mode :</h5>
                <div class="text-center pt-4">
                    <a href="https://onlinesbi.com"><button type="button" class="btn btn-light">Netbanking</button></a>
                </div>
                <p class="text-center pt-5 font-weight-bold"> --- OR ---</p>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Card Holder Name" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="Card Number" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <h5 class="">Card Type :</h5>
                <div class="input-group mt-2 mb-3">
                    <select name="" id="" class="form-control" style="background-color: transparent;color: white;border: 2px solid white">
                <option value="" style="background-color: #253746">Visa</option>
                <option value="" style="background-color: #253746">Ameircan Express</option>
                <option value="" style="background-color: #253746">Mater Card</option>
                <option value="" style="background-color: #253746">Discover</option>
            </select>
                </div>
                <h5 class="">Card Expiration :</h5>
                <div class="input-group mt-2 mb-3">
                    <select name="" id="" class="form-control" style="background-color: transparent;color: white;border: 2px solid white">
                    <option value="" style="background-color: #253746" selected>Month</option>
                    <option value="" style="background-color: #253746">1</option>
                    <option value="" style="background-color: #253746">2</option>
                    <option value="" style="background-color: #253746">3</option>
                    <option value="" style="background-color: #253746">4</option>
                </select>
                    <select name="" id="" class="form-control ml-1" style="background-color: transparent;color: white;border: 2px solid white">
                    <option value="" style="background-color: #253746" selected>Year</option>
                    <option value="" style="background-color: #253746">2018</option>
                    <option value="" style="background-color: #253746">2019</option>
                    <option value="" style="background-color: #253746">2020</option>
                    <option value="" style="background-color: #253746">2021</option>
                </select>
                </div>
                <h5 class="">Card Security Code :</h5>
                <div class="input-group mt-2 mb-3">
                    <input type="text" class="form-control" placeholder="&nbsp;X-X-X" style="background-color: transparent;border: 2px solid white;color: white;">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="" style="background-color: white">
                        </div>
                    </div>
                    <p class="border form-control" style="background-color: transparent;color: white"> Do You Want To Share Your Name and Amount To other Donor</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Donate Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid mt-5 pb-5" style="background-color: #253746;border-top: 10px solid yellow">
        <script src="app/doctor.js"></script>
        <script src="app/controllers/doctor.js"></script>
        <div class="container mt-5">
            <div class="container mt-5 mb-5  p-3" style="border:3px solid white;">
                <h3 class="text-white"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;KEEP IN CONTACT</h3>
            </div>
            <div class="row" ng-controller="formController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form ng-submit="formSubmit(params);" class="col-lg-12 col-md-12 form-inline my-2 my-lg-0">
                        <div class="form-group col-lg-12">
                            <select name=" " id=" " class="form-control m-2"  ng-model="params.selectedOption" required>
                                <option ng-repeat="x in category"  value="{{x.model}}">{{x.model}}</option>
                            </select>
                            <input class="m-2 col-lg-6 col-md-8 form-control" name="dname" type="search" placeholder="Enter Doctor name" ng-model="params.dname" required>
                            <button type="submit" class="m-2 btn form-control  btn_prop">Search</button>
                        </div>

                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-white p-4 mt-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-5">
                            <h4>Become the part of Solution</h4>
                            <a href="donate.html"><button type="button" class="mt-2 btn btn-primary">Donate Now</button></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h4>Follow us On :</h4>
                            <ul style="list-style-type: none;padding-left: 0px">
                                <li class="d-inline" style="font-size: 35px;"><a href="https://www.facebook.com/healthokindia/" class="text-white"><i class="fab fa-facebook-square"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://twitter.com/healthokgkp" class="text-white"><i class="fab fa-twitter-square"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://www.linkedin.com/in/healthok/" class="text-white"><i class="fab fa-linkedin"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://api.whatsapp.com/send?phone=9971931767" class="text-white"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="mailto:care@health-ok.in" class="text-white"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-show="doctors">
                        <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12 card mt-3" style="margin: 0px;padding: 0px; background-color: " ng-repeat="x in doctor">
                            <div class="card-header bg-primary" style="color: ">
                                <h3 class="d-inline">{{x.firstName + " "+x.lastName}}</h3> (
                                <p class="d-inline">{{x.degree}}</p>)
                            </div>
                            <div class="card-body" style="color: black">
                                <h5>{{x.clinicName}}</h5>
                                <p>{{x.addressLine1}}</p>
                                <i class="fa fa-phone"> {{x.doctorPhoneNumbers[0].phoneNumber}} </i> <br>
                                 <div class="row pt-3 pl-3" >
                                     <button class="btn btn-sm bg-primary text-white" ng-click="appointmentShow(x.doctorId)" ng-if="isVisibleButton">Make an Appointment</button>
                                 </div>
                            </div>
                            <div class="card-footer" style="color: black" ng-if="isVisible && id==x.doctorId">
                                <form ng-submit="appointDoctor(appoint)" >
                                    <div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="First Name" ng-model="appoint.firstname" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="Last Name" ng-model="appoint.lastname" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="Mobile Number" ng-model="appoint.mobile" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="date" name="" id="" class="form-control" placeholder="Enter Appointment Date" ng-model="appoint.appointDate" required>
                                        </div>
                                        <input type="hidden" ng-model="x.doctorId">
                                    </div>
                                    <button type="submit" class="btn btn-sm bg-primary text-white">Book Appointment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <scritp src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/js/mdb.min.js"></scritp>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>
