<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app/doctor.js"></script>
    <script src="app/controllers/doctor.js"></script>
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        .nav {
            background-color: #253746;
        }
    </style>
</head>

<body ng-app="indexApp">
    <nav class="nav navbar navbar-expand-lg col-lg-12 navbar-light">
        <a class="navbar-brand text-white" href="#">
            <img src="image/healthok_logo.png" width="130" alt="">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

        <div class="collapse col  navbar-collapse " id="navbarSupportedContent">
            <ul class="nav navbar-nav col justify-content-start">
                <li class="nav-item active col-lg-2">
                    <a class="nav-link text-white text-uppercase text-center" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="./mission.html">MISSION</a>
                </li>
                 <!-- <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="./projects.html">PROJECTS</a>
                </li> -->
                <li class="nav-item col-lg-2 d-block">
                    <a class="nav-link text-upppercase text-white text-center" href="about.html">ABOUT US</a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="ask.html">ASK DOC</a>
                </li>
                <li class="nav-item col-lg-2">
                    <a class="nav-link text-upppercase text-white text-center" href="services.html">SERVICES</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container mt-5 mb-5  p-3" style="border:3px solid #253746;background">
        <h3 class="text-uppercase"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;Our Mission and Vision</h3>
    </div>
    <div class="container text-justify">
        <p class="" style="font-size:1.2rem">
		Accessible, Affordable, Accountable Healthcare. Better outcome from existing resources. 
		</p>
        <p class="" style="font-size:1.2rem">
		
		More than 60% of our population doesn’t have access to good healthcare facilities. Our health outcomes are worse than many other nations. 
		Ineffective care puts our population through unnecessary treatments, leaves us in poorer health, and shortens our life expectancy.
		</p>
        <p class="" style="font-size:1.2rem">		
		We at Healthok Seva Foundation beleive that the existing healthcare infrastructure and resources can deliver far better outcomes by utilizing a combination 
		of Technology and Services and simplify healthcare for the masses and make existing resources lot more effective.  
		
		
		</p>
    </div>
    <div class="container mt-5 mb-5 p-3 " style="background-color: #253746">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 pt-5 pb-5 pl-5 pr-5">
                <h3 class="text-white mb-4 text-uppercase">Our&nbsp;<span style="font-weight: bold; color: yellow;">Mission</span></h3>
                <p class="text-white text-justify" style="font-size: 1.2rem">
				<b>Our mission is to invest in our collective future</B> by eradicating the lack of health care facilities in 
				rural India by creating a chain of primary health care units that offer high quality, affordable outpatient 
				care in low income, densely populated regions, where health care delivery by the state is sparse.
				Enabling this by our 24x7 Free healthcare helpline, School health program, Health checkup camps and utlize
				online consulting to make doctors available to patients in rural areas. 
</p>
            </div>

            <div class="col-lg-6 col-sm-12 col-xs-12  pt-5 pb-5 pl-5 pr-5" style="background-color: #253746">
                <h3 class="text-white mb-4 text-uppercase">Our&nbsp;<span style="font-weight: bold; color: yellow;">Vision</span></h3>
                <p class="text-white text-justify" style="font-size: 1.2rem">
				<b>Our Vision is to ensure adequate, qualitative, preventive & curative health care to the people of India. </B> 
				We will work as a catalyst in bringing sustainable change in the lives of the underprivileged. 
				We will achieve this by setting up primary health care centres in the remotest corners of India. 
				We intend to scale up and establish 25 centres in the next five years in the most rural 
				areas of Uttar Pradesh, and over 100 new centres in the next ten years, throughout the length and breadth of our country
				</p>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-justify" style="font-size:1.2rem">
		Quality patient care is our priority. Providing excellent clinical and service quality, offering compassionate care, 
		and supporting patient awareness and early detection are essential to our mission. This mission is founded on the 
		ethical, cultural and geographic Synergy across the length and breadth of India. </p>
    </div>
    <div class="container-fluid pt-5 pb-5 mb-5" style="background-color: #253746;border-top: 10px solid yellow;border-bottom: 10px solid yellow">
        <div class="container  mb-5  p-3" style="border:3px solid white">
            <h2 class="text-white text-uppercase"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;Facilitate access to health care providers</h2>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                <img src="./image/healthcare_providers.png" alt="" width="100%" height="100%">
            </div>
            <div class="col-lg-5 col-sm-12 col-xs-12  text-white" style="background-color: #0083c9">
                <p class="mt-4 mb-4 text-white mt-5 text-justify" style="font-size:1.2rem;">Effective health care 
				interventions are underutilized in the developing world, and income-related disparities are large. 
				The evidence concerning this access problem is summarized and its demand side causes are identified.
				Broad strategies that have been proposed to tackle the access problem through use of technology on top of existing healthcare infrastructure have been considered. 
                </p>
                <ul style="m-0" style="font-size:1.2rem;">
                    <li>We Provide Single source for all healthcare needs</li>
                    <li>Make patient’s aware of their healthcare challenges and guide on means for address that </li>
                    <li>Create awareness of government schemes and improve utilization</li>
                    <li>Provide Guidance 24x7 as needed to ensure the best healtthcare intervention.</li>
					
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5 mb-5">
        <div class="container  mb-5  p-3" style="border:3px solid #253746;">
            <h3 class=" text-uppercase"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;Health Checkup And Awareness Camp</h3>
        </div>
        <div class="row" style="">
            <div class="col-lg-5 col-sm-12 col-xs-12 text-white" style="background-color: #0083c9">
                <p class="mt-4 mb-4 text-white mt-5 text-justify" style="font-size:1.2rem;">
				These camps are organized by HEALTHOK SEVA FOUNDATION in collaboration with other Hospitala and NGOs. 
				Children are given biomedical examinations and provided with medications when necessary. 
				Children are also provided with health education and information during these check-up sessions. 
				Over 5000 young people and women benefit from this program annually.
                </p>
                <ul style="m-0">
                    <li>Facilitate Intervention by early detection of healthcare issues.</li>
                    <li>Provide guidance on next steps based on healthcare challenge unncovered. </li>
                    <li>Create awareness of government schemes and improve utilization</li>
                    <li>Distribute free medicine in collaboration with local PHC/CHC</li>
                </ul>
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                <img src="./image/vaccinationrecords.png" alt="" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5 mb-5" style="background-color: #253746;border-top: 10px solid yellow;border-bottom: 10px solid yellow">
        <div class="container  mb-5  p-3" style="border:3px solid white">
            <h2 class="text-white text-uppercase"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;Enable better patient care</h2>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                <img src="./image/better.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="col-lg-5 col-sm-12 col-xs-12 p-5 text-white" style="background-color: #0083c9">
                <p class="mt-4 mb-4 text-white mt-5 text-justify" style="font-size:1.2rem;">
				Patient care technology has become increasingly complex, transforming the way nursing care is 
				conceptualized and delivered. Before extensive application of technology, doctors and nurses relied
				heavily on their senses of sight, touch, smell, and hearing to monitor patient status and to detect 
				changes. Over time, the health professional’s unaided senses were replaced with technology designed to 
				detect physical changes in patient conditions.
                </p>
                <ul style="m-0" style="font-size:1.2rem;">
                    <li>FOllowup with patients diagnosed with needing additional healthcare support.</li>
                    <li>Facilitate access to doctors and hospitals as per need and case by case basis. </li>
                    <li>help provide free healthcare consulting and services as applicable and possible</li>
                    <li>Provide guidance on givernment schemes available for better patient care</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pb-5" style="background-color: #253746;border-top: 10px solid yellow">
        <script src="app/doctor.js"></script>
        <script src="app/controllers/doctor.js"></script>
        <div class="container mt-5">
            <div class="container mt-5 mb-5  p-3" style="border:3px solid white;">
                <h3 class="text-white"><i class="fas fa-hospital-symbol" style="font-size: 2.2rem;padding-top:"></i>&nbsp;&nbsp;KEEP IN CONTACT</h3>
            </div>
            <div class="row" ng-controller="formController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form ng-submit="formSubmit(params);" class="col-lg-12 col-md-12 form-inline my-2 my-lg-0">
                        <div class="form-group col-lg-12">
                            <select name=" " id=" " class="form-control m-2"  ng-model="params.selectedOption" required>
                                <option ng-repeat="x in category"  value="{{x.model}}">{{x.model}}</option>
                            </select>
                            <input class="m-2 col-lg-6 col-md-8 form-control" name="dname" type="search" placeholder="Enter Doctor name" ng-model="params.dname" required>
                            <button type="submit" class="m-2 btn form-control  btn_prop">Search</button>
                        </div>

                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-white p-4 mt-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-5">
                            <h4>Become the part of Solution</h4>
                            <a href="donate.html"><button type="button" class="mt-2 btn btn-primary">Donate Now</button></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h4>Follow us On :</h4>
                            <ul style="list-style-type: none;padding-left: 0px">
                                <li class="d-inline" style="font-size: 35px;"><a href="https://www.facebook.com/healthokindia/" class="text-white"><i class="fab fa-facebook-square"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://twitter.com/healthokgkp" class="text-white"><i class="fab fa-twitter-square"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://www.linkedin.com/in/healthok/" class="text-white"><i class="fab fa-linkedin"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="https://api.whatsapp.com/send?phone=9971931767" class="text-white"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="d-inline ml-2" style="font-size: 35px;"><a href="mailto:care@health-ok.in" class="text-white"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-show="doctors">
                        <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12 card mt-3" style="margin: 0px;padding: 0px; background-color: " ng-repeat="x in doctor">
                            <div class="card-header bg-primary" style="color: ">
                                <h3 class="d-inline">{{x.firstName + " "+x.lastName}}</h3> (
                                <p class="d-inline">{{x.degree}}</p>)
                            </div>
                            <div class="card-body" style="color: black">
                                <h5>{{x.clinicName}}</h5>
                                <p>{{x.addressLine1}}</p>
                                <i class="fa fa-phone"> {{x.doctorPhoneNumbers[0].phoneNumber}} </i> <br>
                                 <div class="row pt-3 pl-3" >
                                     <button class="btn btn-sm bg-primary text-white" ng-click="appointmentShow(x.doctorId)" ng-if="isVisibleButton">Make an Appointment</button>
                                 </div>
                            </div>
                            <div class="card-footer" style="color: black" ng-if="isVisible && id==x.doctorId">
                                <form ng-submit="appointDoctor(appoint)" >
                                    <div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="First Name" ng-model="appoint.firstname" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="Last Name" ng-model="appoint.lastname" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="text" name="" id="" class="form-control" placeholder="Mobile Number" ng-model="appoint.mobile" required>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input type="date" name="" id="" class="form-control" placeholder="Enter Appointment Date" ng-model="appoint.appointDate" required>
                                        </div>
                                        <input type="hidden" ng-model="x.doctorId">
                                    </div>
                                    <button type="submit" class="btn btn-sm bg-primary text-white">Book Appointment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>
